apiVersion: v1
kind: Service
metadata:
  name: app-service
spec:
  selector:
    app: blue  # Initially point to blue; patch to green later
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
  type: NodePort